<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/js/order.js"></script>
</head>
<div class="jumbotron" style="background-color:#A9F16C">
  <div id = "orderHeader" class="container">
    <div class="row">
   <h1>  Lstening for Alexa orders... <h1>
      <p></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id = "orderScope" class="span6">
        <table id="orderTable" class='table table-bordered table-hover'>
            <thead>
            <tr>
                 <th>Room NO.</th>
                 <th>Order</th>
                 <th>Data</th>
         </tr>
          </thead>
          <tbody></tbody>
      
      </table>
    </div>
  </div>
</div>


